* {
  box-sizing: border-box;
}
.crcc {
  width: auto;
  border: solid 1px #222;
  margin: 20px;
  float: left
}
.crcc-hr {
  width: 100%;
  height: 1px;
  background-color: #222;
  float: left;
}
.crcc-class, .crcc-respon, .crcc-collabo {
  padding: 10px
}
.crcc h1 {
  font-size: 13px
}
.crcc-self {
  width: 250px;
  height: 100%;
  border-right: solid 1px #222;
  float: left
}
.crcc-class {
  width: 100%;
  border-bottom: solid 1px #222;
  float: left
}
.crcc-respon {
  width: 100%;
  float: left
}
.crcc-collabo {
  width: 250px;
  height: 100%;
  float: right
}