<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <link href="./design.css" rel="stylesheet">
</head>
<body>
<div id="design">
  <template v-for="item in crccs">
    <crcc-hr v-if="item === '-'"></crcc-hr>
    <omt-hr v-else-if="item === '--'"></omt-hr>
    <crcc :crcc="item"
          v-else-if="item.respon">
    </crcc>
    <omt :omt="item"
          v-else="">
    </omt>
  </template>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./design.js"></script>
</body>
</html>